<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de URLs</title>
</head>
<body>

    <h1>Lista de URLs guardadas</h1>

    <table data-test="urls" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Último chequeo</th>
                <th>Código de Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <td>{{ url[0] }}</td>
                <td><a href="/urls/{{ url[0] }}">{{ url[1] }}</a></td>
                <td>{{ url[2] or '' }}</td>
                <td>{{ url[3] or '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="/">Volver al inicio</a>

</body>
</html>
